<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="adultCount" value="1"/>
		<add key="departurePort" value="SAW"/>
		<add key="arrivalPort" value="ADA"/>
		<add key="departureDate" value="2023-09"/>
		<add key="selectedPrice" value="1150"/>
		<add key="loopTimeMinute" value="1"/>
	</appSettings>
</configuration>